.color-1 {
  color: crimson;
}

/* RGB RedGreenBlue */
/* 00-ff */
.color-2 {
  /* color: #4b0082; */
  color: #000000;
}

.color-3 {
  color: #ddd;
}

/* 0 - 255 */
.color-4 {
  color: rgb(0, 150, 0);
  /* opacity: 0.4; */
}

.color-5 {
  color: rgba(0, 150, 155, 0.7);
}
